/* global */

html, body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    overflow: hidden;
}

.st-button--primary {
    font-family: var(--secondary-font);
    padding: 5px 64px;
}