/* global */

html, body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    overflow: hidden;
}

button {
    width: fit-content;
    margin: 0 auto;
}

.st-form-item {
    position: relative;
}

.st-form-item .st-form-item__error {
    position: absolute;
    left: 0;
    right: 0;
    text-align: left;
}

.no-margin {
    margin: 0;
}

.st-input .st-icon {
    height: 35px;
    display: flex;
    align-items: center;
    bottom: 2px;
}

.st-modal-container--light {
    background-color: var(--background0) !important;
}