#app {
  height: 100vh;
  position: relative;
  display: grid;
}

.default-layout {
  display: flex;
  background-color: var(--background100);
}

.default-layout__header {
  border: 3px dashed blue;
  padding: 12px 0;
}
.default-layout__main {
  border: 3px dashed green;
  flex: 1;
  overflow: auto;
  padding: 0 12px;
}

.default-layout__aside {
  border: 3px dashed red;
  background-color: var(--marine50);
  width: 200px;
}

.container {
  padding: 12px 0;
  border: 3px dashed orange;
}
