#app {
  height: 100vh;
  position: relative;
  display: grid;
}

.default-layout {
  display: flex;
}

.default-layout__header {
  background-color: var(--marine200);
}
.default-layout__main {
  background-color: var(--mint400);
  flex: 1;
  overflow: auto;
}

.default-layout__aside {
  background-color: var(--purple100);
  width: 200px;
}
