:root {
  --zApp: 1;
  --zDropdown: 2;
  --zModal: 3;
  --zTooltip: 4;
  --zGlobalLoading: 5;
  --zAside: 6;
}

#app {
  height: 100vh;
  position: relative;
  display: grid;
}

.layout {
  display: flex;
  z-index: var(--zApp);
  height: 100%;
}

.layout__header {
  padding: 38px 0 24px 0;
  margin: 0 24px;
}
.layout__main {
  flex: 1;
  overflow: auto;
  position: relative;
  margin-left: 75px; /*for fixed sidebar */
  display: flex;
}

.layout__single {
    flex: 1;
    overflow: auto;
    position: relative;
    margin-left: 75px; /*for fixed sidebar */
}

.layout__main .triangle {
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
  background-color: white;
  width: 66vw;
  height: 70vh;
  position: absolute;
  bottom: 0;
  left: 0;
}

.layout__aside {
  background-color: var(--marine900);
  width: 280px;
  /* fixed and no scrolling  */
  position: fixed;
  z-index: var(--zAside);
  height: 100%;
}