.multiselect {
}
.multiselect-input {
  position: relative;
  border: 0;
  border-radius: 0;
  border-bottom: 2px solid var(--grey100);
}

.multiselect-input > .multiselect-placeholder {
  color: var(--grey100);
  font-size: 14px;
}

.multiselect-input::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  width: 60px;
  background-color: var(--marine500);
  height: 2px;
  border: none;
  font-size: 1px;
  transition: all 200ms ease-out;
}

.is-open > .multiselect-input::after {
  width: 100%;
}

.multiselect-filled > .multiselect-input::after {
  width: 100%;
}

.multiselect-single-label {
  color: var(--grey100);
  font-size: 18px;
  letter-spacing: 0.32px;
  line-height: 26px;
  text-align: right;
  padding: 0;
}

.multiselect-options {
  overflow: hidden;
  padding: 12px 0;
  border: 1px solid var(--grey100);
  background-color: var(--white);
  box-shadow: 9px 10px 15px 0 rgba(34, 3, 101, 0.1);
}
.multiselect-options > a {
  border-left: 4px solid transparent;
  transition: 0.22s;
  padding: 12px 20px;
  color: var(--grey1000);
}

.multiselect-options > a:hover {
  background: var(--purple50);
  border-color: var(--marine500);
}

.multiselect-option.is-selected {
  background: var(--purple50);
  color: var(--grey1000);
}

.multiselect-option.is-pointed {
    background: none;
}

.multiselect-option.is-pointed.is-selected {
    background: var(--purple50);
}

.multiselect-clear {
  display: none;
}

.multiselect-multiple-label, .multiselect-placeholder, .multiselect-single-label {
  padding-left: 0;
}