/* .multiselect {
}
.multiselect-input {
  border: 0;
  border-radius: 0;
  border-bottom: 2px solid var(--grey100);
}

.multiselect-single-label {
  color: var(--grey1000);
  font-size: 18px;
  letter-spacing: 0.32px;
  line-height: 26px;
  text-align: right;
  padding: 0;
}

.multiselect-options {
  overflow: hidden;
  padding: 12px 0;
  border: 1px solid var(--grey100);
  background-color: var(--white);
  box-shadow: 9px 10px 15px 0 rgba(34, 3, 101, 0.1);
}
.multiselect-options > a {
  border-left: 4px solid transparent;
  transition: 0.22s;
  padding: 12px 20px;
  color: var(--grey1000);
}

.multiselect-options > a:hover {
  background: var(--purple50);
  border-color: var(--marine500);
}

.multiselect-option.is-selected {
  background: var(--purple50);
  color: var(--grey1000);
}

.multiselect-option.is-pointed {
    background: none;
}

.multiselect-option.is-pointed.is-selected {
    background: var(--purple50);
} */
