.noscroll {
      overflow: hidden;
}

.bold {
      font-weight: 700;
    }

.flex-center-vertical {
      display: flex;
      align-items: center;
}

.flex-center-all {
      display: flex;
      align-items: center;
      justify-content: center;
}