/* fonts  */

@font-face {
  font-family: var(--primary-font);
  font-display: swap;
  src: local('SourceSansPro'), local('SourceSansPro'),
    url('./fonts/SourceSansPro/SourceSansPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: var(--primary-font);
  font-display: swap;
  src: local('SourceSansPro'), local('SourceSansPro'),
    url('./fonts/SourceSansPro/SourceSansPro-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: var(--secondary-font);
  font-display: swap;
  src: local('NotoSans'), local('NotoSans'),
    url('./fonts/NotoSans/NotoSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: var(--secondary-font);
  font-display: swap;
  src: local('NotoSans'), local('NotoSans'),
    url('./fonts/NotoSans/NotoSans-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}


:root {
  --primary-font: 'Source Sans Pro', Sans-serif;
  --secondary-font: 'Noto Sans', Sans-serif;
}

html,
body {
  font-family: var(--primary-font);
}
